
/*makes sure the html body spans the entire device height and has the whole gradient*/
body{
    margin: 0;
    background: linear-gradient(to bottom left, #93A5CF, #E4EFE9);
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    transition: font-size .25s ease;
}

a:hover{
    font-size: 23px;
}

#headermenu{
    float: right;
    padding-top: 20px;
    margin-bottom: 50px;
}

#headermenu ul li{
    float: left;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin-right: 20px;
    background-color: black;
    border-radius: 20px;
}

.clear{
    clear: both;
    display: block;
}

#container{
    margin: 15px 30px;
    border: 1px solid black;
}

#quotewithimage{
    background: url(Photos/HeaderandGeneral/NewHeader.jpg);
    float: right;
    height: auto;
    width: 900px;
    max-width: 100%;
    border: 10px solid black;
    border-radius: 30px;
    box-sizing: border-box;
}

#centertext{
    opacity: 0;
    transition: opacity .25s ease;
}

#centertext:hover{
    opacity: 1;
}

#quote{
    border-radius: 10px;
    text-align: left;
}

#author{
    border-radius: 10px;
    text-align: right;
    float: right;
}

.quotetext{
    margin: 10px;
    background-color: black;
    color: white;
    font-size: 2vh;
}



