body{
    margin: 0;
    background: linear-gradient(to bottom left, #93A5CF, #E4EFE9);
}

#container{
    height: auto;
    width: device-width;
    margin: 15px 30px;
    border: 1px solid black;
}

#controllers{
    height: 450px;
    width: 900px;
    max-height: 100%;
    max-width: 100%;
    border: 10px solid black;
    border-radius: 30px;
}