/*style code taken from w3schools.com tutorials on building responsive webpages*/
/*https://www.w3schools.com/css/css_rwd_intro.asp*/

/*makes sure every html element has correct fit*/
* {
    box-sizing: border-box;
}

/*each row of the html page should be wrapped in a div, columns within should equal 12*/
/*allows for row div to clear the custom flow set up by columns*/
/*sets up next row to behave correctly*/
.row::after{
    content: "";
    clear: both;
    display: table;
}

/*each column takes up full width*/
/*for mobile when it looks better for columns to take entire width*/
/*better to design for mobile by default*/
[class*="col-"]{
    width: 100%;
    /*columns go from left to right and have buffer space*/
    /*this will hold true regardless of media query*/
    float: left;
    padding: 5px;
    /* border: 1px solid black; */
}

/*MIGHT NEED ANOTHER QUERY FOR TABLES/SMALL COMPUTER SCREENS*/

/*can use mixture of columns of different sizes so long as they equal 12/100%*/
/*allows for easier and more responsive column design*/
/*use media query to determine when on desktop*/
@media only screen and (min-width: 900px){
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}
/*end of w3schools style code*/

/*DEFAULT OPTIMIZED FOR MOBILE, desktop specific changes done with media queries*/

/*body and container will be used in each index file*/
body{
    margin: 0;
    background: linear-gradient(to bottom left, #93A5CF, #E4EFE9) no-repeat;
}

/*changes the height of the body to take up the entire screen, no scrolling on desktop*/
@media only screen and (min-width: 900px){
    body{
        height: 98vh;
    }
}

/*overall container with margin for the webpage elements*/
#container{
    margin: 25px;
    /* border: 1px solid black; */
}

@media only screen and (min-width: 900px){
    #container{
        margin: 50px;
    }
}

/*for non-main pages, brings you back to home or any main page*/
.header{
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
}

/*floats the header to the right if on desktop*/
@media only screen and (min-width: 900px){
    .header{
        float: right;
    }
}

/*link properties of the header, standard and when hovering*/
.header a{
    padding: 0 13px;
    color: white;
    text-decoration: none;
}

.header a:hover{
    color: lightcoral;
}

/*title of page to act as the header*/
.title{
    margin: 0;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}

/*brief description under name, if applicable*/
.hook{
    margin-top: 5px;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
}

/*desktop specific changes to the header information*/
@media only screen and (min-width: 900px){
    .title{
        font-size: 100px;
        text-align: left;
        /* margin-left: 15px; */
    }
    
    .hook{
        font-size: 20px;
        text-align: left;
        margin-bottom: 50px;
        /* margin-left: 15px; */
    }
}

/*commonalities between the four home buttons*/
.button{
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 50px 0;
    margin-bottom: 20px;
    border: 10px solid black;
    border-radius: 20px;
}

.button:hover{
    color: lightcoral;
}

/*span for the text to allow for a solid background*/
.buttontext{
    background: black;
    padding: 3px;
    border-radius: 10px;
}

/*individual backgrounds set by each button*/
#games{
    background: url(images/Games\ Button.jpg) center;
}

#mods{
    background: url(images/Mods\ Button.png) center;
}

#other{
    background: url(images/Other\ Button.jpg) center;
}

#contact{
    background: url(images/Contact\ Button.jpg) center;
}

/*backdrop of the entire div*/
#quotewithimage{
    background: url(images/Quote\ Pic.jpg) center;
    border: 10px solid black;
    border-radius: 30px;
}


/*properties of the 4 buttons when on desktop*/
@media only screen and (min-width: 900px){
    .button{
        margin-right: 25px;
        font-size: 25px;
        height: 200px;
        padding: 75px 0;
    }
}

/*text properties of the quote and author, for mobile*/
#quotewithimage p{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    background: black;
    border-radius: 10px;
}

/*properties of the quote text and image when on desktop*/
@media only screen and (min-width: 900px){
    #centertext{
        opacity: 0;
        transition: opacity .25s ease;
    }
    
    #centertext:hover{
        opacity: 1;
    }
    
    #quotewithimage p{
        font-size: 20px;
    }
}

/*subtitle, used for name of game/title of project*/
.subtitle{
    font-family: monospace;
    font-size: 23px;
    color: black;
}

.subtitle:hover{
    color: lightcoral;
}

/*description of games and projects under subtitle*/
.description{
    font-family: sans-serif;
    font-style: italic;
    font-size: 13px;
}

/*properties of images accompanying games, etc, on sub-splash pages*/
.subimage{
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: 10px solid black;
    border-radius: 30px;
}

/*desktop properties of the elements of the sub splash pages*/
@media only screen and (min-width: 900px){
    .subtitle{
        font-size: 40px;
    }
    .description{
        font-size: 25px;
    }
    .subimage{
        width: auto;
        height: 300px;
    }
}

