/* MOBILE-first design, so media query breakpoints are to change styling for computer screens */
/* default class and id styling is for mobile */
/* inspired by Bootstrap, but I wanted to learn how to achieve similar effects using the vanilla languages */

/* container for extra small, small, and medium devices */
/* this is so that the page has style for phones and tablets and another style for computers */
.container {
    /*border: 1px solid red;*/
    max-width: 90%;
    margin: auto;
}

/* containers change their max width for large extra large devices (computers) */
/* also creates a nice margin on bigger devies for readability of content */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* this is so that the header's background can extend to the edges of the screen while keeping internal elements correctly spaced */
body {
    margin: 0px;
    background-color: whitesmoke;
}

/* tops each page with a relevant title and description of what the page is about */
.header {
    padding: 20px 10px;
    background-color: black;
    overflow: hidden;
}

.main_title {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

.main_description {
    text-align: center;
    color: white;
    font-style: italic;
    font-family: sans-serif;
    font-size: 1.2em;
}

/* header components for computers */
@media (min-width: 992px) {
    .header {
        padding: 50px;
    }

    .main_title {
        margin: 30px 0;
        font-size: 5.5em;
    }

    .main_description {
        font-size: 1.7em;
    }
}

/* container for the buttons so that transition affects all at once */
#buttons {
    opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -o-transition: opacity 3s;
    -ms-transition: opacity 3s;
}

/* styling for the 4 home screen buttons */
.home_button {
    display: block;
    position: relative;
    margin: 30px auto;
    padding: 45px 100px;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.);
    outline: none;
}

/* hovering over the buttons is only applied on computers */
@media (min-width: 992px) {
    .home_button {
        cursor: pointer;
    }
    
    /* on computers button "pops" out a bit when hovered over */
    /* this is a little jarring at the moment so try to smooth it out somehow (overlapping transitions?) */
    .home_button:hover {
        width: 100%;
        height: 150px;
    }
}

/* distinguish when a button has been pressed/clicked */
.home_button:active {
    box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    top: 10px;
}

/* styles the text within the buttons to make it stand out */
.button_text {
    padding: 10px 25px;
    /* should mess around with font, size, color, background, etc */
    background-color: rgba(255, 255, 255, .9);
    color: black;
    border-radius: 10px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
}

/* only things that really need to change for button text on computers is size */
@media (min-width: 992px) {
    .button_text {
        padding: 20px 40px;
        font-size: 1.5em;
    }
}

/* specific buttons accessed so their backgrounds can be set with images */
/* dimensions of images can be set with .home_button then for desktop the same way with media query */
#games {
    background-image: url("/images/Controllers.jpg");
}

#mods {
    background-image: url();
}

#other {
    background-image: url();
}

#aboutme {
    background-image: url();
}

/* deals with the listed games/mods/other projects to ensure proper spacing */
/* actual text styling is handled after */
.list_title_and_description {
    padding: 5px;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
}

.list_title_link {
    width: 100%;
    display: block;
    text-align: center;
    color: black;
    font-size: 1.5em;
}

/* change some of this, for now it's just glorified proof of concept */
.list_title_link:visited {
    color: slategray;
}

.list_description {
    margin-top: 10px;
    text-align: center;
}

/* ensures the title images only show when on computers, as to not clutter up mobile view */
.list_image {
    display: none;
}

.sub_page_entry {
    margin: 20px;
    overflow: hidden;
}

/* computer styling for elements of each games' information on the subpage */
@media (min-width: 992px) {
    .sub_page_entry {
        margin: 50px 0px;
    }

    .list_title_and_description {
        float: left;
        width: 40%;
        padding: 20px;
        margin: auto;
        vertical-align: middle;
    }

    .list_title_link {
        text-align: left;
        font-size: 2.3em;
    }

    .list_title_link:hover {
        color: whitesmoke;
    }

    .list_description {
        text-align: left;
        font-size: 1.8em;
    }

    .list_image {
        display: inline;
        float: right;
        height: 50%;
        width: 50%;
        vertical-align: top;
        border: 2px solid black;
        border-radius: 10px;
    }
}
