/* MOBILE-first design, so media query breakpoints are to change styling for computer screens */
/* default class and id styling is for mobile */
/* inspired by Bootstrap, but I wanted to learn how to achieve similar effects using the vanilla languages */

@font-face {
    font-family: avenir;
    src: url(/fonts/avenir/AvenirLTStd-Roman.otf);
}

/* so far, everything has this font */
/* can go through and specify per element if more fonts are added later */
* {
    font-family: avenir;
}

/* container for extra small, small, and medium devices */
/* this is so that the page has style for phones and tablets and another style for computers */
.container {
    /*border: 1px solid red;*/
    max-width: 90%;
    margin: auto;
}

/* containers change their max width for large extra large devices (computers) */
/* also creates a nice margin on bigger devies for readability of content */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* this is so that the header's background can extend to the edges of the screen while keeping internal elements correctly spaced */
body {
    margin: 0px;
    background-color: whitesmoke;
}

/* tops each page with a relevant title and description of what the page is about */
.header {
    padding: 20px 10px;
    background-color: black;
}

.main_title {
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}

.main_description {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 1.2em;
}

/* header components for computers */
@media (min-width: 992px) {
    .header {
        padding: 50px;
    }

    .main_title {
        margin: 30px 0;
        font-size: 5.5em;
    }

    .main_description {
        font-size: 1.7em;
    }
}

.link {
    text-decoration: none;
}

/* container for the buttons so that transition affects all at once */
#buttons {
    opacity: 0;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
}

/* styling for the 4 home screen buttons */
.home_button {
    display: block;
    position: relative;
    margin: 30px auto;
    padding: 45px 0px;
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: all .5s;
}

/* hovering over the buttons is only applied on computers */
@media (min-width: 992px) {
    .home_button {
        cursor: pointer;
    }
    
    /* on computers button "pops" out a bit when hovered over */
    /* this is a little jarring at the moment so try to smooth it out somehow (overlapping transitions?) */
    .home_button:hover {
        width: 100%;
        height: 150px;
        background-size: cover;
    }
}

/* distinguish when a button has been pressed/clicked */
.home_button:active {
    box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    -ms-box-shadow: 0px 0px #6b54d3;
    top: 10px;
}

/* styles the text within the buttons to make it stand out */
.button_text {
    padding: 10px 25px;
    /* should mess around with font, size, color, background, etc */
    background-color: rgba(255, 255, 255, .9);
    color: black;
    border-radius: 10px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}

/* only things that really need to change for button text on computers is size */
@media (min-width: 992px) {
    .button_text {
        padding: 20px 40px;
        font-size: 1.5em;
    }
}

/* specific buttons accessed so their backgrounds can be set with images */
/* dimensions of images can be set with .home_button then for desktop the same way with media query */
#games {
    background-image: url("/images/Controllers.jpg");
}

#mods {
    background-image: url();
}

#other {
    background-image: url();
}

#aboutme {
    background-image: url();
}

/* header links that act as a nav bar to other pages */
.nav_links {
    margin: 10px 10px 20px 10px;
    text-align: center;
}

.nav_link {
    margin-right: 20px;
    font-size: 1.2em;
    color: greenyellow;
}

.nav_link:last-child {
    margin-right: 0;
}

@media (min-width: 992px) {
    .nav_links {
        margin: auto;
    }

    .nav_link {
        margin-right: 100px;
        font-size: 1.5em;
    }

    .nav_link:hover {
        color: green;
    }
}

/* deals with the listed games/mods/other projects to ensure proper spacing */
/* actual text styling is handled after */
.list_sub_entry {
    margin: 10px auto;
    display: inline-block;
    box-sizing: border-box;
    width: 95%;
}

.list_sub_entry:last-child {
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    .list_sub_entry {
        margin: 50px 10px;
    }
}

.list_button {
    width: 100%;
    position: relative;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 10px 10px rgba(0, 0, 0, 0.);
    outline: none;
    background-color: lightgrey;
}

@media (min-width: 992px) {
    .list_button {
        display: inline;
        float: left;
        width: 45%;
        margin: 0px;
    }

    .list_button:hover {
        cursor: pointer;
    }
}

.list_button:active {
    box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    -ms-box-shadow: 0px 0px #6b54d3;
    top: 10px;
}

/* elements of each games' information on the subpage */
.list_title {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 5px;
}

.list_description {
    text-align: center;
    font-size: 1.1em;
}

.list_image {
    display: none;
}

@media (min-width: 992px) {
    .list_title {
        font-size: 3.2em;
    }

    .list_description {
        font-size: 1.5em;
    }

    /* ensures the title images only show when on computers, as to not clutter up mobile view */
    .list_image {
        display: inline;
        float: right;
        height: 50%;
        width: 50%;
        vertical-align: top;
        border: 2px solid black;
        border-radius: 10px;
    }
}

.content_description {
    font-size: 1.2em;
}

.content_link {
    color: black;
    font-style: italic;
    font-size: 1.2em;
}

@media (min-width: 992px) {
    .content_description {
        font-size: 1.5em;
        padding: 20px 0px;
    }

    .content_link {
        font-size: 1.5em;
    }
}

/* begin styling for the carousel */
/* carousel code adapted from W3 schools at https://www.w3schools.com/howto/howto_js_slideshow.asp */
.carousel_container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.carousel_image {
    display: none;
    width: 100%;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 10px;
}

.carousel_prev, .carousel_next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 20px 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: .8em;
    border-radius: 2px;
    user-select: none;
}

/* hate this, but I can't figure out why the border radius is weird with spacing */
.carousel_prev {
    left: 0%;
}

.carousel_next {
    right: -2px;
}

#carousel_numbers {
    color: white;
    font-size: .8em;
    padding: 8px;
    margin: 5px;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
}

@media (min-width: 992px) {
    .carousel_prev, .carousel_next {
        padding: 60px 10px;
        margin-top: -70px;
        font-size: 1.3em;
    }

    #carousel_numbers {
        font-size: 2em;
    }
}
/* end W3 schools adapted code */
